<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
        <div class="footer-widget">
          <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img class="img-fluid" src="{{ .Site.Params.logo | absURL }}"
          alt="{{ .Site.Title }}"></a>
          <p class="lead">{{ .Site.Params.footer_content | markdownify }}</p>
          <p class="mb-0"><strong>Location : </strong>{{ .Site.Params.location | markdownify }}</p>
          <p><strong>Support Email : </strong>{{ .Site.Params.email }}</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
        <div class="footer-widget">
          <h4 class="mb-4">Category</h4>
          <ul class="pl-0 list-unstyled mb-0">
            {{- range .Site.Menus.category }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{- end }}
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
        <div class="footer-widget">
          <h4 class="mb-4">Useful Link</h4>
          <ul class="pl-0 list-unstyled mb-0">
            {{ range .Site.Menus.useful_links }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
        <div class="footer-widget">
          <h4 class="mb-4">Opening Hours</h4>
          <ul class="pl-0 list-unstyled mb-5">
            {{ range .Site.Params.openingHour }}
            <li class="d-lg-flex justify-content-between">{{ .day }} <span>{{ .time }}</span></li>
            {{ end }}
          </ul>

          <h5>Call Now : {{ .Site.Params.mobile }}</h5>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="footer-btm py-4 ">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <p class="copyright mb-0 ">{{site.Params.copyright | markdownify}}</p>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
          {{ range .Site.Menus.footer }}
          <li class="list-inline-item"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- search index -->
<script>
  var indexURL = {{`index.json` | absURL}}
</script>

<!-- Snipcart public key -->
<div hidden id="snipcart" data-api-key="{{ .Site.Params.snipcartAPI }}"></div>

<!-- Google Map API -->
<script src="{{ .Site.Params.gmapAPI }}"></script>

<!-- JS Plugins -->
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>